body {
  margin: 0;
  padding: 0;
  background-color: #f7fcff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  min-height: 600px;
  min-width: 400px;
}

.dark .body {
  background-color: #000205;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(34, 34, 34, 0.05) transparent;
  min-height: 0px;
  min-width: 0px;
}

/* For Webkit browsers */
html::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgba(34, 34, 34, 0.05);
  border-radius: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}
